// App wide common styles
@layer components {
  .btn-primary {
    @apply cursor-pointer py-1 px-3 border border-transparent rounded-md bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 text-white transition-all;
  }
  .btn-danger {
    @apply cursor-pointer py-1 px-3 border border-transparent rounded-md bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 text-white transition-all;
  }
  .btn-warning {
    @apply cursor-pointer py-1 px-3 border border-transparent rounded-md bg-yellow-600 hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 text-white transition-all;
  }
  .btn-success {
    @apply cursor-pointer py-1 px-3 border border-transparent rounded-md bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 text-white transition-all;
  }

  .btn-outline {
    @apply cursor-pointer py-1 px-3 border border-indigo-600 rounded-md bg-white hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 text-indigo-500 transition-all;
  }

  .form-control {
    @apply appearance-none rounded-none relative px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm;
  }

  .form-checkbox {
    @apply rounded border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50;
  }

  .form-block {
    @apply block w-full;
  }

  .form-inline {
    @apply inline;
  }

  .invalid-feedback {
    @apply text-red-500;
  }

  .alert {
    @apply text-white py-2 border-0;
  }

  .alert__content {
    @apply max-w-3xl mx-auto px-4 flex items-center justify-between;
  }

  .alert-info {
    @apply bg-blue-400;
  }

  .alert-danger {
    @apply bg-red-400;
  }

  .text-link {
    @apply flex items-center justify-center cursor-pointer hover:text-indigo-600 transition-all;
  }

  iframe {
    @apply hidden;
  }
}
