<header class="header__wrapper">
  <h1 class="header__title"><%= @deck.name %></h1>
  <a class="header__subtitle text-link" href="<%= Routes.deck_path @conn, :edit, @deck %>">Edit</a>
</header>

<section>
  3 notes in this deck.
</section>


<section class="py-6 text-center">
  <a class="btn-primary" href="<%= Routes.deck_note_path @conn, :new, @deck %>">Add note</a>
</section>
