<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" href="<%= Routes.static_path(@conn, "/images/favicon.ico") %>" />
    <link rel="apple-touch-icon" href="<%= Routes.static_path(@conn, "/images/logo192.png") %>" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Free and open source spaced repetition software", suffix: " · Memoet" %>
    <meta name="description" content="Play quizzes &amp; review flashcards to memorize everything using Spaced Repetition method">
    <meta property="og:image" content="<%= Routes.static_path(@conn, "/images/srs.png") %>" />

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

    <!-- Async load assets for displaying charts -->
    <link rel="preload" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" as="style"
      onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css"></noscript>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
